# Data Engineering Exercie Part 1

1. Import the dataset "vaccinations.csv"

In [1]:
import pandas as pd

In [2]:
def check_df(df):
    display(df.head())
    print(F"Columns: {len(df.columns)}")

In [87]:
vaccinationDF = pd.read_csv("vaccinations.csv")

In [88]:
check_df(vaccinationDF)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0

Columns: 14

2. Drop "daily_vaccinations_raw"column

In [89]:
vaccinationDF = vaccinationDF.drop(columns = ["daily_vaccinations_raw"])
check_df(vaccinationDF)

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0

Columns: 13

3. Rename the column "Location" to "Country"

In [90]:
vaccinationDF = vaccinationDF.rename(columns = {"location":"country"})
check_df(vaccinationDF)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,34.0

Columns: 13

In [93]:
censored = ["World","Asia","Upper middle income"]

for x in censored:
    vaccinationDF = vaccinationDF.query(F"country != {censored}")

4. Find the country that has the highest count of total_vaccinations

In [94]:
vaccinationDF[ vaccinationDF["total_vaccinations"] == vaccinationDF.total_vaccinations.max() ]

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
8015,China,CHN,2021-08-28,2.032934e+09,NaN,NaN,NaN,13866429.0,140.76,NaN,NaN,NaN,9601.0

In [10]:
vaccinationDF.query(F" total_vaccinations == {vaccinationDF.total_vaccinations.max()} ")

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million
43029,World,OWID_WRL,2021-08-28,5.213176e+09,3.118470e+09,2.091593e+09,13427944.0,38591622.0,66.2,39.6,26.56,0.17,4901.0

5. List the data that has the count of total_vaccinations less than 10,000 which country has the lowest among the data?

In [42]:
lt10kDF = vaccinationDF[ vaccinationDF["total_vaccinations"] < 10000 ].sort_values(by = ["total_vaccinations"], ascending = True)
lt10kDF[["country","total_vaccinations"]]

              country  total_vaccinations
0         Afghanistan                 0.0
39191         Tokelau                 0.0
22808      Low income                 0.0
38713        Thailand                 0.0
38435          Taiwan                 0.0
...               ...                 ...
8017         Colombia              9935.0
26824         Namibia              9955.0
22434   Liechtenstein              9959.0
13001  Faeroe Islands              9959.0
15490       Greenland              9996.0

[1070 rows x 2 columns]

In [40]:
lt10kDF = vaccinationDF.query(" total_vaccinations < 10000 ").sort_values(by = ["total_vaccinations"], ascending = True)
lt10kDF[["country","total_vaccinations"]]

              country  total_vaccinations
0         Afghanistan                 0.0
39191         Tokelau                 0.0
22808      Low income                 0.0
38713        Thailand                 0.0
38435          Taiwan                 0.0
...               ...                 ...
8017         Colombia              9935.0
26824         Namibia              9955.0
22434   Liechtenstein              9959.0
13001  Faeroe Islands              9959.0
15490       Greenland              9996.0

[1070 rows x 2 columns]

In [41]:
lt10kDF[ lt10kDF["total_vaccinations"] == lt10kDF.total_vaccinations.min() ][["country","total_vaccinations"]]

             country  total_vaccinations
0        Afghanistan                 0.0
39191        Tokelau                 0.0
22808     Low income                 0.0
38713       Thailand                 0.0
38435         Taiwan                 0.0
...              ...                 ...
4357          Belize                 0.0
3066         Bahamas                 0.0
22317  Liechtenstein                 0.0
2843      Azerbaijan                 0.0
41770     Uzbekistan                 0.0

[152 rows x 2 columns]